#women{
    background-color: orange;
    font-size: 60px;
    font-family:"Roboto";
    font-weight:bold;
    font-style: oblique;
    text-align:center;
    
}
#men{
    background-color: orange;
    font-size: 60px;
    font-family:"Roboto";
    font-weight:bold;
    font-style: oblique;
   
    text-align:center;
   
}
#kid{
    background-color: orange;
    font-size: 60px;
    font-family:"Roboto";
    font-weight:bold;
    font-style: oblique;

    text-align:center;
}
.style{
    color:turquoise;
    font-size: 30px;
    font-family:"Roboto";
    font-weight:bold;
}
h5{
    font-size: 15px;
    font-family:"Roboto";
    font-weight:bold;
    font-style: italic;
    color:darkslategrey
}
button{
    background-color:black;
    color:beige;
    font-style:"Roboto";
    font-size:20px;
}
h4{
    font-size:20px;
}
p{
    color:greay;
}
